.footer-left {
    align-items: center;
    display: flex;
    flex: 0.3 1;

    .footer-img {
        border-radius: 6px;
        height: 70px;
        position: relative;
        -webkit-transform: scale(.9);
        transform: scale(.9);
        width: 70px;
        overflow: hidden;

        img {
            transform: none;
            -webkit-transform: none;
            -webkit-transform: initial;
            width: 100%;
            object-fit: contain;
        }


        .footer-img-play {
            background-color: #00000080;
            background-image: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/icons/icon-playing.gif);
            background-position-x: center;
            background-position-y: 90%;
            background-repeat: no-repeat;
            background-size: 25px;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            visibility: hidden;
            opacity: 0;

            &.active {
                visibility: visible;
                opacity: 1;
            }

        }


    }

    .footer-info {
        display: flex;
        flex: 1 1;
        flex-direction: column;
        justify-content: center;
        margin-left: 15px;

        .footer-info-singer,
        .footer-info-title {
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            display: -webkit-box;
            overflow: hidden;
        }

        .footer-info-title {
            color: #f7f6f7;
            font-size: 14px;
            font-weight: 600;
        }

        .footer-info-singer {
            color: #6e717c;
            font-size: 13px;
        }
    }


    .footer-more {
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        height: 30px;
        justify-content: center;
        width: 30px;
        z-index: 2;

        i {
            color: var(--white);
            font-size: 1.4rem;
        }
    }

    .footer-like {
        align-items: center;
        display: flex;
        position: relative;

        .btn-like {
            align-items: center;
            border-radius: 50%;
            display: flex;
            height: 30px;
            justify-content: center;
            width: 30px;
            z-index: 2;
            color: var(--white);
            margin-right: 13px;

            i {
                font-size: 1.4rem;
            }

            & ~ .btn-like {
                display: none;
            }
        }
    }

}

@media only screen and (min-width: 737px) and (max-width: 1024px) {
    .footer-info-singer {
        display: none !important;
    }

    .footer-like {
        display: none !important;
    }
}

@media only screen and (max-width: 736px) {

    .footer-like {
        display: none !important;
    }

    .footer-left {
        .footer-img {
            height: 40px;
            width: 40px;

        }

        .footer-info-singer,
        .footer-info-title {
            font-size: 1.2rem !important;
        }

    }

}