.list-album-item {
    padding-left: 10px;
    width: 100%;
    align-items: center;
    border-radius: 5px;
    color: var(--color-text-detail);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 600;
    min-height: 60px;
    position: relative;
    text-decoration: none;
    &.border {
        border-bottom: 1px solid #64646475;
    }

    &.active {
        background-color: var(--color-default-secondary);
    }

    &:hover {
        background-color: hsla(0, 0%, 69%, 0.185);
    }
}

.list-album-header-icon {
    font-size: 14px;
    margin-right: 8px;
}

.song-album-item-img {
    height: 40px;
    width: 40px;
}

.song-album-item {
    display: flex;
}

.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    overflow: hidden;
}
.detail.duration {
    flex: 0.38 1;
}

.detail-artist,
.detail-title-name {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    overflow: hidden;
}
.detail-artist.time {
    text-align: right;
    margin-right: 10px;
}
.detail-title {
    color: var(--white);
    display: flex;
    margin-bottom: 5px;
}

.detail-title-name {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    overflow: hidden;
}

.list-album-song-name {
    flex: 1 1;
}

@media only screen and (max-width: 736px) {
    .footer-playlist-content {
        height: calc(100vh - 150px);
        width: 30vh;
    }
}
