// search
.search {
    align-items: center;
    background-color: var(--bg-color-more);
    border-radius: 25px;
    color: #c2c1c3;
    display: flex;
    flex: 1.3 1;
    height: 42px;
    padding: 10px;
    position: relative;
}

.icon-search,
.icon-close,
.search-input {
    background-color: transparent;
    border: none;
}

.search-input {
    border-radius: 25px;
    color: var(--color-text-search);
    font-size: 14px;
    font-weight: 600;
    height: 100%;
    left: 0;
    outline: none;
    padding: 0 10px 0 40px;
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: #2F2739;
    overflow: hidden;

    &::placeholder {
        font-weight: 500;
    }

    &.active {
        background-color: var(--bg-color-search);
    }
}

.icon-search,
.icon-close {
    color: var(--white);
    cursor: pointer;
    z-index: 2;
    font-size: 1.8rem;
}

.icon-close {
    position: absolute;
    right: 5px;
    z-index: 2;
    font-size: 1.15rem;
    padding: 10px;
    opacity: .7;
}

@media only screen and (max-width: 736px) {
    .search-input::placeholder {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.2rem;
    }

    .icon-search {
        font-size: 1.4rem;
    }

    .search-input {
        padding: 0 10px 0 30px;
    }
}