.card-hozon {
    display: flex;
    padding: 15px;
    background-color: #2f2739;
    border-radius: 5px;
    gap: 15px;
    cursor: pointer;
}
.img {
    border-radius: 10px;
    overflow: hidden;
    min-height: 100px;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        color: #97949d;
        border-radius: 10px;
    }
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.title {
    font-size: 1.6rem;
    font-weight: 700;
}

.author {
    display: flex;
    flex-direction: column;
    color: #97949d;
    font-size: 1.2rem;
    font-weight: 500;
}
.sub {
    display: flex;
    align-items: baseline;
    color: #97949d;
    justify-content: space-between;
}
.top {
    font-size: 4rem;
    font-size: 900;
}

.time {
    font-size: 1.6rem;
    font-weight: 500;
}
