.nav-item {
    align-items: center;
    display: flex;
    position: relative;
    padding-top: 4px;
    padding-right: 0;
    padding-bottom: 4px;

    .nav-item-link {
        padding-left: 25px;
        align-items: center;
        background-color: transparent;
        border: none;
        color: var(--color-default);
        display: flex;
        text-decoration: none;
        width: 100%;
        font-size: 1.4rem;
        font-weight: 700;
        justify-content: space-between;
        height: 3.6rem;

        &.active {
            background-color: var(--bg-color-more);
        }

        &:hover:not(.active) {
            color: #fff;

            .icon-hover {
                display: inline-block;
            }
        }

        .nav-icon {
            font-size: 1.7rem;
            width: 20px;
        }

        .icon-hover {
            font-size: 18px;
            display: none;
        }

        .nav-title {
            font-size: 1.25rem;
            font-weight: 700;
            margin-left: 12px;
        }
    }
}

// Resonsive
@media only screen and (min-width: 737px) and (max-width: 1024px) {
    .nav-item {
        flex-direction: row;
        flex-wrap: nowrap;

        .nav-item-link {
            .not-img {
                display: none;
            }

            &:hover:not(.active) {
                .icon-hover {
                    display: none;
                }
            }

            .nav-icon {
                font-size: 2rem;
                opacity: 0.8;
            }

            .icon-hover {
                display: none;

                &::after {
                    display: none;
                }
            }

            .nav-title {
                display: none;
            }
        }
    }
}
