.logo {
    cursor: pointer;
    height: 70px;
    padding: 0 25px;
    position: relative;
    width: 100%;

    img {
        margin-left: 25px;
        margin-top: 14px;
        position: absolute;
        width: 120px;
    }
}